<!-- church photo -->
<% content_for :sidebar do %>
    <div class="left-content" style="height:320px;">
        <img src="/images/sidebar/church.png" alt="<%= t("header.url") %>" title="<%= t("header.url") %>"
             height="320"/>
    </div>  
<% end %>