body {
    min-height: 100%;
    background: url("../images/body_bgrd.png") repeat-x #dee7ea;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Header */
#header {
	height: 167px;
	background: #FFE680;
}

#header .hdr-brd-tc {
    height: 12px;
    width: 100%;
    background: url("../images/header/header_border_tc.gif") repeat-x;
}

#header .hdr-brd-tl {
    height: 12px;
    float: left;
    width: 12px;
    background: url("../images/header/header_border_tl.gif") no-repeat;
}

#header .hdr-brd-tr {
    height: 12px;
    float: right;
    width: 12px;
    background: url("../images/header/header_border_tr.gif") no-repeat;
}

#header .hdr-spcr-tc {
    height: 11px;
    width: 100%;
    background: #45aae9;
}

#header .hdr-spcr-tl {
    height: 11px;
    width: 12px;
    float: left;
    background: url("../images/header/header_border_lc.gif") repeat-y;
}

#header .hdr-spcr-tr {
    height: 11px;
    width: 12px;
    float: right;
    background: url("../images/header/header_border_rc.gif") repeat-y;
}

#header .hdr-content {
    width: 100%;
    height: 118px;
    background: url("../images/header/header_content_bgrd.gif") repeat-x;
}

#header .hdr-logo {
    width: 276px;
    height: 118px;
    float: left;
    background-color: #fff;
}

#header .hdr-logo-brd-l {
    width: 4px;
    height: 118px;
    float: left;
    background: url("../images/header/logo_border_l.gif") repeat-y;
}

#header .hdr-logo-content {
    width: 273px;
    height: 118px;
    text-align: center;
    vertical-align: middle;
}

#header .hdr-logo-strip {
    width: 1px;
    height: 118px;
    float: left;
    background: url("../images/header/header_logo_strip.gif") no-repeat;
    margin: 0 0 0 9px;
}

#header .hdr-content-cloud {
    height: 118px;
    width: 166px;
    float:right;
    background: url("../images/header/header_content_cloud.gif") no-repeat;
}

#header .hdr-bottom {
    width: 100%;
    height: 26px;
    background: url("../images/header/header_bottom_bgrd.gif") repeat-x
}

#header .hdr-logo-bottom {
    width: 295px;
    height: 26px;
    float: left;
    background: url("../images/header/header_logo_bottom.gif") no-repeat;
}

#header .hdr-bottom-r {
    width: 415px;
    height: 26px;
    float: right;
    background: url("../images/header/header_bottom_r.gif") no-repeat;
}


/* Middle */
#middle {
	width: 100%;
	height: 1%;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
    min-height: 150px;
	padding: 0 15px 0 285px;
}

/* Sidebar Left */
.sl {
	float: left;
	width: 285px;
	position: relative;
	background: url("../images/sidebar/content_bgrd.png") repeat-x bottom #ecf5fd;
	margin-left: -100%;
}

.sl .left-border-l {
    width: 6px;
    float: left;
    min-height: 150px;
    background: url("../images/sidebar/left-l.gif") repeat-y;
}

.sl .left-content {
    width: 100px;
    float: left;
    min-height: 150px;
    background-color: yellow;
}


/* Sidebar Right */
.sr {
	float: left;
	margin-left: -15px;
	width: 15px;
	position: relative;
	background: #FFACAA;
}


/* Footer */
#footer {
	height: 100px;
	background: #BFF08E;
}