body {
    min-height: 100%;
    background: url("../images/body_bgrd.png") repeat-x #dee7ea;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Header */
#header {
	height: 167px;
	background: #FFE680;
}

#header .hdr-brd-tc {
    height: 12px;
    width: 100%;
    background: url("../images/header/header_border_tc.gif") repeat-x;
}

#header .hdr-brd-tl {
    height: 12px;
    float: left;
    width: 12px;
    background: url("../images/header/header_border_tl.gif") no-repeat;
}

#header .hdr-brd-tr {
    height: 12px;
    float: right;
    width: 12px;
    background: url("../images/header/header_border_tr.gif") no-repeat;
}

#header .hdr-spcr-tc {
    height: 11px;
    width: 100%;
    background: #45aae9;
}

#header .hdr-spcr-tl {
    height: 11px;
    width: 12px;
    float: left;
    background: url("../images/header/header_border_lc.gif") repeat-y;
}

#header .hdr-spcr-tr {
    height: 11px;
    width: 12px;
    float: right;
    background: url("../images/header/header_border_rc.gif") repeat-y;
}

#header .hdr-content {
    width: 100%;
    height: 118px;
    background: url("../images/header/header_content_bgrd.gif") repeat-x;
}

#header .hdr-logo {
    width: 276px;
    height: 118px;
    float: left;
    background-color: #fff;
}

#header .hdr-logo-brd-l {
    width: 4px;
    height: 118px;
    float: left;
    background: url("../images/header/logo_border_l.gif") repeat-y;
}

#header .hdr-logo-content {
    width: 273px;
    height: 118px;
    text-align: center;
    vertical-align: middle;
}

#header .hdr-logo-strip {
    width: 1px;
    height: 118px;
    float: left;
    background: url("../images/header/header_logo_strip.gif") no-repeat;
    margin: 0 0 0 9px;
}

#header .logo-image {
    margin: 33px 0 0 0;
}

#header .hdr-content-cloud {
    height: 118px;
    width: 166px;
    float:right;
    background: url("../images/header/header_content_cloud.gif") no-repeat;
}

#header .main-title-cntr {
    font-family: Calibri;
    color: #fff;
    width: 400px;
    float: left;
    margin: 0 0 0 10px;
}

#header h1.main-title {
    font-size: 19pt;
    font-style: italic;
    font-weight: 100;
}

#header h2.sub-title {
    font-size: 15pt;
    font-style: italic;
    font-weight: 100;
    margin: 20px 0 0 0;
}

#header .lady-fatima {
    width: 100px;
    float: left;
    background: url("../images/lady_fatima.png") no-repeat; 
}

#header .hdr-bottom {
    width: 100%;
    height: 26px;
    background: url("../images/header/header_bottom_bgrd.gif") repeat-x
}

#header .hdr-logo-bottom {
    width: 295px;
    height: 26px;
    float: left;
    background: url("../images/header/header_logo_bottom.gif") no-repeat;
}

#header .hdr-bottom-r {
    width: 415px;
    height: 26px;
    float: right;
    background: url("../images/header/header_bottom_r.gif") no-repeat;
}


/* Middle */
#middle {
	width: 100%;
	height: 1%;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
    min-height: 150px;
	padding: 0 3px 0 285px;
}

/* Sidebar Left */
.sl {
	float: left;
	width: 285px;
	position: relative;
	background: url("../images/sidebar/content_bgrd.png") repeat-x bottom #ecf5fd;
	margin-left: -100%;
}

.sl .left-border-l {
    width: 6px;
    float: left;
    min-height: 150px;
    background: url("../images/sidebar/left-l.gif") repeat-y;
}

.sl .left-content {
    width: 269px;
    margin-top: -6px;
    float: left;
    min-height: 150px;
    background-color: #ecf5fd;
}

.sl .left-border-r {
    width: 10px;
    float: right;
    min-height: 150px;
    background: url("../images/sidebar/left_r.png") no-repeat top #ecf5fd;
}

/* Sidebar Right */
.sr {
	float: left;
    min-height: 150px;
	margin-left: -3px;
	width: 3px;
	position: relative;
    background: url("../images/sidebar/right-border.gif") repeat-y;
}

/* Footer */
#footer {
	height: 100px;
	background: #BFF08E;
}

#footer .footer-t {
    width: 100%;
    height: 25px;
    background: url("../images/footer/footer_c.gif") repeat-x;
}

#footer .footer-tl {
    width: 12px;
    height: 25px;
    float: left;
    background: url("../images/footer/footer_l.gif") no-repeat;
}

#footer .footer-tr {
    width: 12px;
    height: 25px;
    float: right;
    background: url("../images/footer/footer_r.gif") no-repeat;    
}