/******* Common theme start *******/
input {
    border: solid 1px #578E0B;
    font-family: tahoma, arial, sans-serif;
    font-size: 84%;
    padding: 1px 0 0 2px;
    height: 17px;
    color: #575A5C;
}

button, .button {
    height: 20px;
    background: url("/images/layout/btn_stretch.gif") repeat-x left top;
    padding: 0 10px 1em 10px;
    *padding: 0 5px 1em 5px;
    color: #fff;
    font-size: 8pt;
    font-family: tahoma, arial, sans-serif;
    text-decoration: none;
    font-weight: 900;
    border: solid 1px #FF8C00;
    cursor: pointer;
}

a.button {
    padding: 1px 10px 4px 10px;
    height:12px;
    -margin-bottom: -4px;
}

/******* Common theme end *********/

/******* Header theme start *******/
#header .columns .horse {
    width: 103px;
    padding: 16px 0 0 0;
    height: 114px;
    text-align: right;
}

#header .columns .logo {
    width: 240px;
    height: 105px;
    margin: 0 0 0 15px;
    padding: 25px 0 0 0;
}

#header .columns .login_container {
    width: 340px;
    height: 130px;
}

#header .columns .login_container_top {
    background: url("../images/layout/header/login_top.gif") repeat-x;
    height: 50px;
}

#header .columns .login_container_top_left {
    background: url("../images/layout/header/login_top_left.gif") repeat-x;
    height: 50px;
    width: 7px;
}

#header .columns .login_container_top_right {
    background: url("../images/layout/header/login_top_right.gif") repeat-x;
    height: 50px;
    width: 6px;
}

#header .columns .login_container_bottom {
    background: url("../images/layout/header/login_bottom.gif") repeat-x;
    height: 26px;
}

#header .columns .login_container_bottom_left {
    background: url("../images/layout/header/login_bottom_left.gif") repeat-x;
    height: 26px;
    width: 9px;
}

#header .columns .login_container_bottom_right {
    background: url("../images/layout/header/login_bottom_right.gif") repeat-x;
    height: 26px;
    width: 7px;
}

#header .columns .slogan {
    width: 427px;
    height: 22px;
    margin: 90px 0 0 250px;
    position: absolute;
    left: 0;
}

#header .columns .login_container_top .login_inputs {
    height: 43px;
    margin: 12px 0 0 10px;
}

#header .columns .login_container_top .login_error_message {
    color: #fff;
    font-family: tahoma, arial, sans-serif;
    font-size: 85%;
    margin: -3px 0 0 4px;
}

#header .columns .login_container_top .login_error_message .error_explanation {
    margin: -4px 0 3px 4px;
    position: absolute;
}

#header .columns .login_container_top input {
    width: 90px;
}

#header .columns .login_container_top .logged_in_message {
    color: #777;
    font-family: tahoma, arial, sans-serif;
    font-size: 85%;
}

#header .columns .login_container_top .username {
    color: #777;
    font-family: tahoma, arial, sans-serif;
    font-size: 85%;
    font-weight: 900;
}

#header .columns .login_inputs button {
    margin: 0 0 0 15px;
}

#header .columns .login_inputs a {
    color: #fff;
    font-family: tahoma, arial, sans-serif;
    font-size: 85%;
}

#header .columns .login_inputs a:hover {
    color: #fbc17b;
}

#header .columns .login_inputs .sign_up {
    font-weight: 900;
    text-align: center;
}

#header .columns .login_inputs .forgot_password {
    text-align: center;
}

#header .click_here {
    position: absolute;
    left: 0;
    margin: 81px 0 0 70px;
}

/******* Header theme end ********/

/******* Menu theme start ********/
#menu .toolbar {
    background: #CCCCCC;
    height: 45px;
}

#menu .buttons_container {
    width: 632px;
    height: 38px;
    background: #ccc;
    margin: 3px 3px 0 0;
}

#menu .item {
    margin: 0 0 0 -1px;
    text-align: center;
    background: url("/images/layout/menu/menu_stretch.gif") repeat-x;
    height: 29px;
    border: solid 1px #999999;
    position: relative;
    float: right;
    padding: 7px 0 0 0;
}

#menu .selected_item {
    z-index: 1;
    margin: 0 0 0 -1px;
    text-align: center;
    background: url("/images/layout/menu/selected_menu_stretch.gif") repeat-x;
    height: 29px;
    border: solid 1px #FF9933;
    position: relative;
    float: right;
    padding: 7px 0 0 0;
}

#menu a {
    color: #fff;
    font-family: calibri, sans-serif;
    font-size: 120%;
    font-weight: normal;
    text-decoration: none;
}

#menu .item a:hover {
    color: #fad8b6;
}

#menu .columns .search_container {
    width: 340px;
    height: 32px;
    background: url("/images/layout/menu/search_stretch.gif") repeat-x;
}

#menu .search_left {
    background: url("/images/layout/menu/search_left.gif");
    width: 8px;
    height: 32px;
}

#menu .search_right {
    background: url("/images/layout/menu/search_right.gif");
    width: 6px;
    height: 32px;
}

#menu .search_inputs {
    height: 22px;
    margin: 5px 0 0 10px;
    display: inline;
}

#menu .search_inputs input {
    width: 205px;
    margin: 0 15px 0 0;
}

/******** Menu theme end *********/

/** Featured horses theme start **/
#content, #menu, #clear {
    background: #fff;
}

#content .columns .featured_container {
    width: 600px;
    margin: 20px auto 0 auto;
    height: 480px;
    background: #CCC;
}

#content .columns .featured_container .header {
    text-align: left;
    width: 580px;
    height: 37px;
    background: #B0CC99;
    font-size: 180%;
    color: #fff;
    padding: 0 0 0 20px;
}

#content .columns .featured_container .header .tip {
    font-size: 50%;
    margin: 8px 0 0 20px;
    font-family: tahoma;
}

#content .columns .featured_container .caption {
    height: 30px;
    background: #fff;
    font-size: 180%;
    color: #444;
    font-weight: 900;
    margin: 16px 0 0 16px;
    padding: 0 5px 0 5px;
    position: absolute;
    z-index: 1;
}

#content .columns .featured_container #shuffle pic {
    *height: 440px;
    *max-height: 440px;
    background: #fff;
}

#content .columns .featured_container #shuffle img {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #eee;
    width: 568px;
    height: 411px;
    top: 0;
    left: 0;
    z-index: 2;
}

/** Featured horses theme end **/

/***** Footer theme start *****/
#footer .copyright {
    float: left;
    padding: 10px 0 10px 30px;
}

#footer .links {
    float: right;
    padding: 10px 30px 10px 0;
}

/***** Fooler theme end ****/

/****** Search Horses theme start *******/
#content .panel {
    width: 900px;
    margin: 20px auto 0 auto;
    background: #eee;
    border: solid #ccc 1px;
    font-family: tahoma;
    color: #777575;
    font-size: 98%;
}

#content .panel .header {
    text-align: left;
    padding: 0 0 0 20px;
    height: 25px;
    background: #B0CC99;
    font-size: 150%;
    font-family: calibri;
    color: #fff;
    margin: 0 0 5px 0;
}

#content .panel .edit {
    padding-top: 0;
    padding-bottom: 0;
}

#content .panel .checkbox {
    padding: 0;
    margin: 3px 0 0 0;
}

#content .panel .checkbox input {
    border: none;
    margin-right: 0px;
}

#content .panel select, .columns .filter-select {
    font-family: tahoma;
    color: #777575;
    font-size: 85%;
    height: 18px;
    border: solid 1px #578E0B;
}

#content .panel #name_contains .right_col input {
    width: 400px;
}

#content .panel .columns {
    margin: 3px 0 0 3px;
}

#content .margin-10 {
    margin: 10px 0 10px 3px;
}

#content .panel .margin-15 {
    margin: 15px 0 15px 3px;
}

#content .panel .no_margin {
    margin: 0;
    padding: 0;
}

#content .panel .no_top_margin {
    margin-top: 0px;
    padding-top: 0px;
}

#content .right_button {
    margin-right: 26px;
}

#content .margin_top-10 {
    margin: 10px 0 0 0;
}

#content #horses_criteria .columns {
    margin: 5px 0 5px 0;
}

#content #horses_criteria .margin-15 {
    margin: 15px 0 15px 0;
}

#content #listings .panel {
    height: 155px;
}

#content #listings .panel img {
    margin: 10px;
    border: solid 1px #578E0B;
}

#content #listings .panel .labels {
    font-size: 130%
}

#content #listings .panel .labels .price {
    font-size: 150%;
    font-weight: 900;
}

#content #listings .panel .labels .description {
    font-size: 75%;
    height: 72px
}

#content #listings .panel .labels .small_font {
    font-size: 75%;
}

#content #listings .panel .labels .listing_actions {
    font-size: 65%;
    text-align: right;
    margin: 0 0 0 0;
    display: inline;
    font-family: tahoma;
}

#content #listings .panel .labels .listing_actions a {
    margin: 0 10px 0 0;
}

#content .farm_description {
    height: 90px;
}

#content #listings .panel .date_added {
    margin-top: 10px;
    text-align: right;
    font-size: 75%
}

.button_label {
    color: #fff;
    font-family: tahoma, arial, sans-serif;
    font-size: 85%;
}

#content .panel textarea {
    margin: 0 0 0 3px;
    font-family: tahoma;
    color: #777575;
    font-size: 85%;
    padding: 3px;
    border: solid 1px #578E0B;
}

#content .panel .videocontainer {
    width: 868px;
    background: url("/images/layout/videotape.gif") repeat-x;
    padding: 30px 0 0 20px;
    height: 150px;
}

#content .panel #listing_default_caption {
    margin: 0 200px 0 0;
}

#content .height-30 {
    height: 30px;
}

/******* Search Horses theme end ***********/

/******* Common Theme start ****************/

#content .error_container {
    width: 870px;
    margin: 20px auto 0 auto;
    background: #ffcccc url("/images/layout/exclamation.gif") center left no-repeat;
    border: solid #ff3333 1px;
    font-family: tahoma;
    color: #000;
    font-size: 98%;
    padding: 10px 10px 10px 15px;
}

#content .error_container p {
    font-weight: 900;
    margin: 0 0 5px 0;
}

#content .error_container li {
    margin: 0 0 0 20px;
}

#content #flash_messages .flash {
    width: 860px;
    margin: 0 auto 0 auto;
    font-family: tahoma;
    color: #000;
    font-size: 98%;
    padding: 10px 10px 10px 30px;
}

#content #flash_messages .error {
    background: #ffcccc url("/images/layout/exclamation.gif") center left no-repeat;
    border: solid #ff3333 1px;
}

#content #flash_messages .error p {
    font-weight: 900;
    margin: 0 0 5px -10px;
}

#content #flash_messages .notice {
    background: #ccffcc url("/images/layout/accept.gif") center left no-repeat;
    border: solid #009933 1px;
}

#content #flash_messages .warning {
    background: #ffffcc url("/images/layout/warning.gif") center left no-repeat;
    border: solid #ff9900 1px;
}

#content .flash_clearer {
    width: 100%;
    height: 20px;
}

#content .panel .temperament_picker {
    text-align: center;
    float: left;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    width: 20px;
    cursor: pointer;
}

#content .panel .temperament_box {
    background: url("/images/layout/temperament.png") repeat-y;
    width: 205px;
    height: 18px;
    float: left;
    padding: 1px 0 0 0;
    border: solid 1px #578E0B;
    margin: 0 0 0 10px;
}

#content .panel .horse_details .temperament_box {
    height: 15px;
    margin: 5px 0 16px 2px;
}

#content .panel .horse_details .temperament_slider {
    position: relative;
    margin: 0 0 -5px 20px;
    right: 7px;
}

#content .panel .horse_details .temperament_slider span {
    margin: 32px 0 0 -10px;
    font-weight: 900;
    font-size: 80%;
    position: absolute;
    top: -5px;
}

#content .columns #select_type input {
    border: none;
}

#content .columns .no_items_found {
    border: 1px solid;
    color: #555555;
    font-family: tahoma, sans-serif;
    font-weight: 900;
    margin: 15px;
    padding: 10px 0 10px 50px;
}

#content .panel .no_image {
    border: 1px solid;
    color: #555555;
    font-family: tahoma, sans-serif;
    font-weight: 900;
    margin: 8px 10px 0 8px;
    padding: 58px 0 56px 52px;
}

#content .panel .upload_container input {
    border: medium none threedface;
    *border: solid 1px #578E0B;
    font-family: tahoma, arial, sans-serif;
    font-size: 84%;
    padding: 1px 0 0 1em;
    height: 20px;
    color: #575A5C;
}

#content .panel .upload_container .upload_button {
    border: solid 1px #578E0B;
    padding: 1px 11px 1px 11px;
}

#content .paypal {
    border: none;
    height: 47px;
    width: 122px;
    margin-right: 20px;
}

#content .paypal_container {
    text-align: right;
}

/******* Common Theme end ****************/

.apple_pagination {
    width: 874px;
    margin: 10px auto 0 auto;
    background: #F1F1F1;
    border: 1px solid #E5E5E5;
    text-align: center;
    padding: 1em;
}

.apple_pagination a, .apple_pagination span {
    padding: .2em .3em;
}

.apple_pagination span.disabled {
    color: #AAA;
}

.apple_pagination span.current {
    font-weight: bold;
    background: transparent url("/images/apple-circle.gif") no-repeat 50% 50%;
}

.apple_pagination a {
    text-decoration: none;
    color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline;
}

.columns .label {
    font-family: tahoma;
    color: #777575;
    font-size: 98%;
}