<!-- Top border -->
<div class="hdr-brd-tc">
    <div class="hdr-brd-tl"></div>
    <div class="hdr-brd-tr"></div>
</div>

<!-- Top spacer -->
<div class="hdr-spcr-tc">
    <div class="hdr-spcr-tl"></div>
    <div class="hdr-spcr-tr"></div>
</div>