<!-- Left border -->
<div class="left-border-l"></div>

<!-- Left sidebar content -->
<div class="left-content">
    <%= yield(:sidebar) %>
</div>

<!-- Right border -->
<div class="left-border-r"></div>