<% title "#{(t "common.projectname")} - #{(t "common.access_denied")}" %>

<div id="cnErrorTabs" class="yui-navset, tabViewContainer">

    <h1><%= t "errors.403caption" %></h1>
    <p><%= t "errors.403reason" %></p>
    
</div>
